
html[data-gpii-hc = 'bw'] {
  -webkit-filter: grayscale(100%);
}

html[data-gpii-hc = 'bw'] {
  background: white;
}

div[data-gpii-hc = 'bw'], span[data-gpii-hc = 'bw'], p[data-gpii-hc = 'bw'], ul[data-gpii-hc = 'bw'], li[data-gpii-hc = 'bw'],
h1[data-gpii-hc = 'bw'], h2[data-gpii-hc = 'bw'], h3[data-gpii-hc = 'bw'], h4[data-gpii-hc = 'bw'], h5[data-gpii-hc = 'bw'],
table[data-gpii-hc = 'bw'], th[data-gpii-hc = 'bw'], tr[data-gpii-hc = 'bw'], td[data-gpii-hc = 'bw'], pre[data-gpii-hc = 'bw'], code[data-gpii-hc = 'bw'], header[data-gpii-hc='bw'],
dt[data-gpii-hc='bw'], dl[data-gpii-hc='bw'] {
  background: white !important;
  color: black !important;
  text-shadow: none !important;
}

input[data-gpii-hc='bw'][type='submit']{background: white !important; color: black !important; text-shadow: none !important; border: 2px solid white !important;  border-radius:10px !important;}
input[data-gpii-hc='bw'][type='submit']:focus, input[data-gpii-hc='bw'][type='submit']:hover {border: 4px solid black !important;}

a[data-gpii-hc = 'bw'] {
  background-color: white !important;
  color: black;
  text-decoration: underline !important;
  text-shadow: none !important;
}

a[data-gpii-hc='bw']:visited, a[data-gpii-hc = 'bw']:hover {
  color: black !important;
}

input[data-gpii-hc='bw'], input[type='number'][data-gpii-hc='bw'] {
  color: black;
  background: white;
  border: 1px solid white;
}

button[data-gpii-hc='bw'] {
  color: #C2CFFF;
  background: black;
  border: 1px solid #C2CFFF;
}

html[data-gpii-hc = 'bw'] > body {
  background: white !important;
  color: black;
}

html[data-gpii-hc = 'wb'] {
  -webkit-filter: grayscale(100%);
}

html[data-gpii-hc = 'wb'] {
  background: black;
}

div[data-gpii-hc = 'wb'], span[data-gpii-hc = 'wb'], p[data-gpii-hc = 'wb'], ul[data-gpii-hc = 'wb'], li[data-gpii-hc = 'wb'],
h1[data-gpii-hc = 'wb'], h2[data-gpii-hc = 'wb'], h3[data-gpii-hc = 'wb'], h4[data-gpii-hc = 'wb'], h5[data-gpii-hc = 'wb'],
table[data-gpii-hc = 'wb'], th[data-gpii-hc = 'wb'], tr[data-gpii-hc = 'wb'], td[data-gpii-hc = 'wb'], pre[data-gpii-hc = 'wb'], code[data-gpii-hc = 'wb'], header[data-gpii-hc='wb'],
dt[data-gpii-hc='wb'], dl[data-gpii-hc='wb'] {
  background: black !important;
  color: white !important;
  text-shadow: none !important;
}

input[data-gpii-hc='wb'][type='submit'], input[data-gpii-hc='wb'][type='button'], button[data-gpii-hc='wb']{background: black !important; color: white !important; text-shadow: none !important; border: 2px solid white !important; border-radius:10px !important;}
input[data-gpii-hc='wb'][ts='large'][type='submit']:focus, input[data-gpii-hc='wb'][ts='large'][type='submit']:hover, input[data-gpii-hc='wb'][ts='large'][type='button']:hover, input[data-gpii-hc='wb'][ts='large'][type='button']:focus, button[data-gpii-hc='wb'][ts='large']:hover, button[data-gpii-hc='wb'][ts='large']:focus,
input[data-gpii-hc='wb'][ts='x-large'][type='submit']:focus, input[data-gpii-hc='wb'][ts='x-large'][type='submit']:hover, input[data-gpii-hc='wb'][ts='x-large'][type='button']:hover, input[data-gpii-hc='wb'][ts='x-large'][type='button']:focus, button[data-gpii-hc='wb'][ts='x-large']:hover, button[data-gpii-hc='wb'][ts='x-large']:focus {border: 4px solid white !important;}
input[data-gpii-hc='wb'][ts='medium'][type='submit']:focus, input[data-gpii-hc='wb'][ts='medium'][type='submit']:hover, input[data-gpii-hc='wb'][ts='medium'][type='button']:hover, input[data-gpii-hc='wb'][ts='medium'][type='button']:focus, button[data-gpii-hc='wb'][ts='medium']:hover, button[data-gpii-hc='wb'][ts='medium']:focus {border: 3px solid white !important;}
select[data-gpii-hc='wb']{background: #D2D2D2 !important; color: #000 !important; text-shadow: none !important; border: 2px solid white !important;}
input[data-gpii-hc='wb'][type='text'], input[data-gpii-hc='wb'][type='password']{background: black !important; color: white !important; text-shadow: none !important; border: 2px solid white !important;}
input[data-gpii-hc='wb'][ts='large'][type='text']:focus, input[data-gpii-hc='wb'][ts='large'][type='text']:hover, input[data-gpii-hc='wb'][ts='large'][type='password']:focus, input[data-gpii-hc='wb'][ts='large'][type='password']:hover, select[data-gpii-hc='wb'][ts='large']:hover, select[data-gpii-hc='wb'][ts='large']:focus,
input[data-gpii-hc='wb'][ts='x-large'][type='text']:focus, input[data-gpii-hc='wb'][ts='x-large'][type='text']:hover, input[data-gpii-hc='wb'][ts='x-large'][type='password']:focus, input[data-gpii-hc='wb'][ts='x-large'][type='password']:hover, select[data-gpii-hc='wb'][ts='x-large']:hover, select[data-gpii-hc='wb'][ts='x-large']:focus {border: 4px solid white !important;}
input[data-gpii-hc='wb'][ts='medium'][type='text']:focus, input[data-gpii-hc='wb'][ts='medium'][type='text']:hover, input[data-gpii-hc='wb'][ts='medium'][type='password']:focus, input[data-gpii-hc='wb'][ts='medium'][type='password']:hover, select[data-gpii-hc='wb'][ts='medium']:hover, select[data-gpii-hc='wb'][ts='medium']:focus{border: 3px solid white !important;}

a[data-gpii-hc = 'wb'] {
  background-color: black !important;
  color: #C2CFFF !important;
  text-decoration: underline !important;
  text-shadow: none !important;
}

a[data-gpii-hc='wb']:visited, a[data-gpii-hc = 'wb']:hover {
  color: white !important;
}

input[data-gpii-hc='wb'], input[type='number'][data-gpii-hc='wb'] {
  color: white;
  background: black;
  border: 1px solid white;
}

button[data-gpii-hc='wb'] {
  color: #C2CFFF;
  background: black;
  border: 1px solid #C2CFFF;
}

html[data-gpii-hc = 'wb'] > body {
  background: black !important;
  color: white;
}

html[data-gpii-hc = 'yb'] {
  background: black;
  color: yellow;
}
html[data-gpii-hc = 'yb'] > body {
  background: black !important;
  color: yellow;
}

div[data-gpii-hc = 'yb'], span[data-gpii-hc = 'yb'], p[data-gpii-hc = 'yb'], ul[data-gpii-hc = 'yb'], li[data-gpii-hc = 'yb'],
h1[data-gpii-hc = 'yb'], h2[data-gpii-hc = 'yb'], h3[data-gpii-hc = 'yb'], h4[data-gpii-hc = 'yb'], h5[data-gpii-hc = 'yb'],
table[data-gpii-hc = 'yb'], th[data-gpii-hc = 'yb'], tr[data-gpii-hc = 'yb'], td[data-gpii-hc = 'yb'], pre[data-gpii-hc = 'yb'], code[data-gpii-hc = 'yb'],
article[data-gpii-hc='yb'], nav[data-gpii-hc='yb'], section[data-gpii-hc='yb'], header[data-gpii-hc='by'],
dl[data-gpii-hc='yb'], dt[data-gpii-hc='yb'] {
  background: black !important;
  color: yellow !important;
  text-shadow: none !important;
}

input[data-gpii-hc='yb'][type='submit'], input[data-gpii-hc='yb'][type='button'], button[data-gpii-hc='yb']{background: black !important; color: yellow !important; text-shadow: none !important; border: 2px solid yellow !important; border-radius:10px !important;}
input[data-gpii-hc='yb'][ts='large'][type='submit']:focus, input[data-gpii-hc='yb'][ts='large'][type='submit']:hover, input[data-gpii-hc='yb'][ts='large'][type='button']:hover, input[data-gpii-hc='yb'][ts='large'][type='button']:focus, button[data-gpii-hc='yb'][ts='large']:hover, button[data-gpii-hc='yb'][ts='large']:focus,
input[data-gpii-hc='yb'][ts='x-large'][type='submit']:focus, input[data-gpii-hc='yb'][ts='x-large'][type='submit']:hover, input[data-gpii-hc='yb'][ts='x-large'][type='button']:hover, input[data-gpii-hc='yb'][ts='x-large'][type='button']:focus, button[data-gpii-hc='yb'][ts='x-large']:hover, button[data-gpii-hc='yb'][ts='x-large']:focus {border: 4px solid yellow !important;}
input[data-gpii-hc='yb'][ts='medium'][type='submit']:focus, input[data-gpii-hc='yb'][ts='medium'][type='submit']:hover, input[data-gpii-hc='yb'][ts='medium'][type='button']:hover, input[data-gpii-hc='yb'][ts='medium'][type='button']:focus, button[data-gpii-hc='yb'][ts='medium']:hover, button[data-gpii-hc='yb'][ts='medium']:focus {border: 3px solid yellow !important;}
input[data-gpii-hc='yb'][type='text'], input[data-gpii-hc='yb'][type='password']{background: black !important; color: yellow !important; text-shadow: none !important; border: 2px solid yellow !important;}
input[data-gpii-hc='yb'][ts='large'][type='text']:focus, input[data-gpii-hc='yb'][ts='large'][type='text']:hover, input[data-gpii-hc='yb'][ts='large'][type='password']:focus, input[data-gpii-hc='yb'][ts='large'][type='password']:hover,
input[data-gpii-hc='yb'][ts='x-large'][type='text']:focus, input[data-gpii-hc='yb'][ts='x-large'][type='text']:hover, input[data-gpii-hc='yb'][ts='x-large'][type='password']:focus, input[data-gpii-hc='yb'][ts='x-large'][type='password']:hover {border: 4px solid yellow !important;}
input[data-gpii-hc='yb'][ts='medium'][type='text']:focus, input[data-gpii-hc='yb'][ts='medium'][type='text']:hover, input[data-gpii-hc='yb'][ts='medium'][type='password']:focus, input[data-gpii-hc='yb'][ts='medium'][type='password']:hover {border: 3px solid yellow !important;}

a[data-gpii-hc = 'yb'] {
  background: black !important;
  background-color: black !important;
  color: yellow !important;
  text-decoration: underline !important;
  text-shadow: none !important;
}

a[data-gpii-hc='yb']:visited, a[data-gpii-hc = 'yb']:hover {
  color: yellow !important;
}

input[data-gpii-hc='yb'] {
  color: yellow;
  background: black;
  border: 1px solid yellow;
}

button[data-gpii-hc='yb'] {
  color: yellow;
  background: black;
  border: 1px solid yellow;
}

html[data-gpii-hc = 'by'] {
  background: yellow;
}
html[data-gpii-hc = 'by'] > body{
  background: yellow !important;
  color: black;
}
div[data-gpii-hc = 'by'], span[data-gpii-hc = 'by'], p[data-gpii-hc = 'by'], ul[data-gpii-hc = 'by'], li[data-gpii-hc = 'by'],
h1[data-gpii-hc = 'by'], h2[data-gpii-hc = 'by'], h3[data-gpii-hc = 'by'], h4[data-gpii-hc = 'by'], h5[data-gpii-hc = 'by'],
table[data-gpii-hc = 'by'], th[data-gpii-hc = 'by'], tr[data-gpii-hc = 'by'], td[data-gpii-hc = 'by'], pre[data-gpii-hc = 'by'], code[data-gpii-hc = 'by'],
article[data-gpii-hc='by'], nav[data-gpii-hc='by'], section[data-gpii-hc='by'], header[data-gpii-hc='by'],
dl[data-gpii-hc='by'], dt[data-gpii-hc='by'] {
  background: yellow !important;
  color: black !important;
  text-shadow: none !important;
}

input[data-gpii-hc='by'][type='submit'], input[data-gpii-hc='by'][type='button'], button[data-gpii-hc='by']{background: yellow !important; color: black !important; text-shadow: none !important; border: 2px solid black !important; border-radius:10px !important;}
input[data-gpii-hc='by'][ts='large'][type='submit']:focus, input[data-gpii-hc='by'][ts='large'][type='submit']:hover, input[data-gpii-hc='by'][ts='large'][type='button']:hover, input[data-gpii-hc='by'][ts='large'][type='button']:focus, button[data-gpii-hc='by'][ts='large']:hover, button[data-gpii-hc='by'][ts='large']:focus,
input[data-gpii-hc='by'][ts='x-large'][type='submit']:focus, input[data-gpii-hc='by'][ts='x-large'][type='submit']:hover, input[data-gpii-hc='by'][ts='x-large'][type='button']:hover, input[data-gpii-hc='by'][ts='x-large'][type='button']:focus, button[data-gpii-hc='by'][ts='x-large']:hover, button[data-gpii-hc='by'][ts='x-large']:focus {border: 4px solid black !important;}
input[data-gpii-hc='by'][ts='medium'][type='submit']:focus, input[data-gpii-hc='by'][ts='medium'][type='submit']:hover, input[data-gpii-hc='by'][ts='medium'][type='button']:hover, input[data-gpii-hc='by'][ts='medium'][type='button']:focus, button[data-gpii-hc='by'][ts='medium']:hover, button[data-gpii-hc='by'][ts='medium']:focus {border: 3px solid black !important;}
input[data-gpii-hc='by'][type='text'], input[data-gpii-hc='by'][type='password']{background: yellow !important; color: black !important; text-shadow: none !important; border: 2px solid black !important;}
input[data-gpii-hc='by'][ts='large'][type='text']:focus, input[data-gpii-hc='by'][ts='large'][type='text']:hover, input[data-gpii-hc='by'][ts='large'][type='password']:focus, input[data-gpii-hc='by'][ts='large'][type='password']:hover,
input[data-gpii-hc='by'][ts='x-large'][type='text']:focus, input[data-gpii-hc='by'][ts='x-large'][type='text']:hover, input[data-gpii-hc='by'][ts='x-large'][type='password']:focus, input[data-gpii-hc='by'][ts='x-large'][type='password']:hover {border: 4px solid black !important;}
input[data-gpii-hc='by'][ts='medium'][type='text']:focus, input[data-gpii-hc='by'][ts='medium'][type='text']:hover, input[data-gpii-hc='by'][ts='medium'][type='password']:focus, input[data-gpii-hc='by'][ts='medium'][type='password']:hover {border: 3px solid black !important;}

a[data-gpii-hc = 'by'] {
  background: yellow !important;
  background-color: yellow !important;
  color: black !important;
  text-decoration: underline !important;
  text-shadow: none !important;
}

a[data-gpii-hc='by']:visited, a[data-gpii-hc = 'by']:hover {
  color: #333 !important;
}

input[data-gpii-hc='by'] {
  color: black;
  background: yellow;
  border: 1px solid black;
}

button[data-gpii-hc='by'] {
  color: black;
  background: yellow;
  border: 1px solid yellow;
}
