.fl-selection-yellow::selection,
.fl-selection-yellow *::selection {
    background-color: #eeee1a;
    color: #000000;
}

.fl-selection-green::selection,
.fl-selection-green *::selection {
    background-color: #318712;
    color: #000000;
}

.fl-selection-pink::selection,
.fl-selection-pink *::selection {
    background-color: #de00a2;
    color: #000000;
}

a.fl-selection-green::selection,
a.fl-selection-pink::selection,
.fl-selection-green a::selection,
.fl-selection-pink a::selection,
.fl-selection-green a *::selection,
.fl-selection-pink a *::selection {
    color: #ffffff;
}

a.fl-selection-yellow::selection,
.fl-selection-yellow a::selection,
.fl-selection-yellow a *::selection {
    color: #203bd6;
}

/* Firefox specific styles, requires -moz vendor prefix.*/
.fl-selection-yellow::-moz-selection,
.fl-selection-yellow *::-moz-selection {
    background-color: #eeee1a;
    color: #000000;
}

.fl-selection-green::-moz-selection,
.fl-selection-green *::-moz-selection {
    background-color: #318712;
    color: #000000;
}

.fl-selection-pink::-moz-selection,
.fl-selection-pink *::-moz-selection {
    background-color: #de00a2;
    color: #000000;
}

a.fl-selection-green::-moz-selection,
a.fl-selection-pink::-moz-selection,
.fl-selection-green a::-moz-selection,
.fl-selection-pink a::-moz-selection,
.fl-selection-green a *::-moz-selection,
.fl-selection-pink a *::-moz-selection {
    color: #ffffff;
}

a.fl-selection-yellow::-moz-selection,
.fl-selection-yellow a::-moz-selection,
.fl-selection-yellow a *::-moz-selection {
    color: #203bd6;
}
