@import "utils/selection"

// Selection Highlight Preview
selectionThemes = {
    ".gpii-ext-selection-preview-yellow": {
        foregroundColor: #000000,
        backgroundColor: #eeee1a
    }
    ".gpii-ext-selection-preview-green": {
        foregroundColor: #000000,
        backgroundColor: #318712
    }
    ".gpii-ext-selection-preview-pink": {
        foregroundColor: #000000,
        backgroundColor: #de00a2
    }
}

gpii-stylus-selectionPreviewThemes(selectionThemes);
