@import "utils/selection"

// Overriding the fonts to correct the path to the font file
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

// Overriding the background-image to correct the path to the image file
.fl-prefsEditor-separatedPanel {
  background-image: url("../images/separatedpanelbg.png");
}

body {
    font-size: 1rem;
    width: 400px;
}

// Selection Highlight Preview
selectionThemes = {
    ".gpii-ext-selection-preview-yellow": {
        foregroundColor: #000000,
        backgroundColor: #eeee1a
    }
    ".gpii-ext-selection-preview-green": {
        foregroundColor: #000000,
        backgroundColor: #318712
    }
    ".gpii-ext-selection-preview-pink": {
        foregroundColor: #000000,
        backgroundColor: #de00a2
    }
}

gpii-stylus-selectionPreviewThemes(selectionThemes);

// overrides

// Textfield Stepper
.fl-prefsEditor .fl-textfieldStepper .fl-textfieldStepper-textField {
    font-size: 2em;
    height: auto;
    width: 4ch;
}
