/*
 * TODO: This file is essentially a copy of Fluid Infusion's enactors.styl file
 *       but with some modifications to remove unused parts and change the theme class names.
 *       When https://issues.fluidproject.org/browse/FLUID-6163 has been addressed this file
 *       should be revised to make use of a more modular set of enactor styling.
 */

@import "../../node_modules/infusion/src/framework/preferences/css/stylus/utils/Themes.styl"

// UI Enhancer "Enlarge text" input/button options
.gpii-ext-input-enhanced button,
.gpii-ext-input-enhanced input,
.gpii-ext-input-enhanced select,
.gpii-ext-input-enhanced textarea,
.gpii-ext-input-enhanced .gpii-ext-input-enhance {
    font-size: 125% !important;
}

// UI Enhancer 'enhanced links' styling
.gpii-ext-input-enhanced a {
    font-size: 125% !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

// Theming
// Renamed the theme classes from the Fluid Infusion Preferences Framework
// to avoid conflicts when the browser extension is run on a page that already
// includes UI Options.
extensionThemes = {
    ".gpii-ext-theme-bw": {
        foregroundColor: #000000,
        backgroundColor: #ffffff
    }
    ".gpii-ext-theme-wb": {
        foregroundColor: #ffffff,
        backgroundColor: #000000
    }
    ".gpii-ext-theme-yb": {
        foregroundColor: #ffff00,
        backgroundColor: #000000
    }
    ".gpii-ext-theme-by": {
        foregroundColor: #000000,
        backgroundColor: #ffff00
    }
    ".gpii-ext-theme-lgdg": {
        foregroundColor: #bdbdbb,
        backgroundColor: #555555
    }
}

build-themes-Enactors(extensionThemes);
