/*
 * TODO: This file is copied from Fluid Infusion's enactors.styl
 *       but with the class names changed.
 *       When https://issues.fluidproject.org/browse/FLUID-6163 has been addressed this file
 *       should be revised to make use of the modularity of Infusion enactor styling.
 */

// UI Enhancer "Enlarge text" input/button options
.gpii-ext-input-enhanced button,
.gpii-ext-input-enhanced input,
.gpii-ext-input-enhanced select,
.gpii-ext-input-enhanced textarea,
.gpii-ext-input-enhanced .gpii-ext-input-enhance {
    font-size: 125% !important;
}

// UI Enhancer 'enhanced links' styling
.gpii-ext-input-enhanced a {
    font-size: 125% !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}
