/*
 * TODO: This file is copied from Fluid Infusion's enactors.styl
 *       but with the class names changed.
 *       When https://issues.fluidproject.org/browse/FLUID-6163 has been addressed this file
 *       should be revised to make use of the modularity of Infusion enactor styling.
 */

// UI Enhancer "Enlarge text" input/button options
button.gpii-simplify-navToggle {
    background: #138bd6;
    background: embedurl("../../images/gpii-icon.svg", "utf8") no-repeat 5px 0px, linear-gradient(to bottom, #138bd6, #196b9e);
    background-size: contain;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 10px;
    padding-left: 2.8rem;
    text-decoration: none;
    border-image: none;
    border-width: 0;

    &:hover,
    &:focus {
        outline: 1px solid black;
    }

    &:active,
    &[aria-pressed="true"] {
        background-color: #135f8e;
        box-shadow: inset 0 0 10px #000000;
    }
}
