/* Larger links and inputs */
.gpii-ext-input-enhanced a {
    font-size: 125% !important;
}

/* High contrast */
.fl-theme-uioPlus-yb a, .fl-theme-uioPlus-yb div,
.fl-theme-uioPlus-by a, .fl-theme-uioPlus-by div,
.fl-theme-uioPlus-bw a, .fl-theme-uioPlus-bw div,
.fl-theme-uioPlus-wb a, .fl-theme-uioPlus-wb div,
.fl-theme-uioPlus-gd a, .fl-theme-uioPlus-gd div,
.fl-theme-uioPlus-gw a, .fl-theme-uioPlus-gw div,
.fl-theme-uioPlus-bbr a, .fl-theme-uioPlus-bbr div {
    background-image: none !important;
}

.fl-theme-uioPlus-yb input, .fl-theme-uioPlus-yb button,
.fl-theme-uioPlus-bw input, .fl-theme-uioPlus-bw button,
.fl-theme-uioPlus-by input, .fl-theme-uioPlus-by button,
.fl-theme-uioPlus-bbr input, .fl-theme-uioPlus-bbr button,
.fl-theme-uioPlus-wb input, .fl-theme-uioPlus-wb button,
.fl-theme-uioPlus-gd input, .fl-theme-uioPlus-gd button,
.fl-theme-uioPlus-gw input, .fl-theme-uioPlus-gw button {
    border: 1px solid currentColor;
}
